<div class="container">
    <div class="col-md-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>{{pageTitle}}</h2>
            </div>
            <div class="panel-body">
                <div id="content-display">
                    <label class="content">MessageTimeout : {{StatusBarConfig.MessageTimeout}} &nbsp;
                        <span *ngIf="IsAdmin">
                            <input input="text" [(ngModel)]='NewStatusBarConfig.MessageTimeout'
                                placeholder={{NewStatusBarConfig.MessageTimeout}} />
                        </span>
                    </label>
                    <br>
                    <label class="content">RolloverTime : {{StatusBarConfig.RolloverTime}} &nbsp;
                        <span *ngIf="IsAdmin">
                            <input input="text" [(ngModel)]='NewStatusBarConfig.RolloverTime'
                                placeholder={{NewStatusBarConfig.RolloverTime}} />
                        </span>
                    </label>
                </div>
            </div>
            <div class="panel-footer">
                <button class='btn btn-success' (click)='SaveContent()'>Save</button> &nbsp;
                <button class='btn btn-warning' (click)='CancelContent()'>Cancel</button>
            </div>
        </div>

    </div>
</div>